<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <fallbackPackageFolders>
    <!-- Puedes usar un path válido en Linux como fallback (o simplemente dejarlo vacío para evitar errores) -->
    <clear />
  </fallbackPackageFolders>
</configuration>
